<div class="what-in-box__item">
    <div class="what-in-box__item-image">
        <img src="{{ item.srcImage }}" alt="">
    </div>
    <div class="what-in-box__item-title">
        {{ item.title | safe }}
    </div>
</div>