<div class="column-2">
    <div class="save-your-stuff__item">
        <div class="save-your-stuff__item-icon">
            {{ item.svgIcon | safe }}
        </div>
        <div class="save-your-stuff__item-title">
            {{ item.title }}
        </div>
        <div class="save-your-stuff__item-text">
            {{ item.text | safe }}
        </div>
    </div>
</div>