<div class="why-we-are__item" data-animate="fadeInRight" data-delay="{{ item.delay | safe }}">
    <div class="why-we-are__item-icon">
        {{ item.svgIcon | safe }}
    </div>
    <div class="why-we-are__item-title">
        {{ item.title | safe }}
    </div>
</div>