<div class="column-2 column-sm-4">
    <div class="why-we-are__item">
        <div class="why-we-are__item-icon">
            {{ item.svgIcon | safe }}
        </div>
        <div class="why-we-are__item-title">
            {{ item.title | safe }}
        </div>
    </div>
</div>