<section class="section">
    <div class="another-services">
        <div class="container">
            <div class="row">
                <div class="column-4 column-sm-8">
                    <h2>А также...</h2>
                    <ul class="list-with-check">
                        <li>Хранение в индивидуальных боксах/комнатах от 1 до 50 м²</li>
                        <li>Высота потолков 2,5 - 3,3 метра</li>
                        <li>Перевозка вещей и мебели / предоставляем грузчиков</li>
                        <li>Хранение на срок от одного дня до года</li>
                        <li>Склады находятся в близи метро: Шаболовская, Ленинский Проспект, Калужская, Университет, Проспект Вернадского, Юго-Западная, Теплый Стан, Молодежная.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>