<section class="section">
    <div class="calculator-section">
        <div class="container">
            <div class="row">
                <div class="column-4">
                    <h2>Стоимость услуг хранения</h2>
                    <p>
                        Укажите пожалуйста ниже необходимый Вам метраж и срок хранения, калькулятор автоматически посчитает ориентировочную стоимость аренды для хранения.
                    </p>
                    <div class="calculator">
                        <div class="calculator__range-group">
                            <label for="squareInput">Площадь</label>
                            <input type="text" id="squareInput" name="squareInput" value="" />
                        </div>
                        <div class="calculator__range-group">
                            <label for="timeRent">Время аренды в месяцах</label>
                            <input type="text" id="timeRent" name="timeRent" value="" />
                        </div>
                    </div>
                    <div class="calculator__output">
                        <span class="square"></span> ₽
                        <span class="time"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>