<section class="section">
    <div class="map-section" id="mapSection">
        <div class="map-section__address-cloud">
            <div class="map-section__address-cloud-icon">
                <img src="./images/placeholder.png" alt="">
            </div>
            <div class="map-section__address-cloud-description">
                <span>м. Калужская</span><br/>
                ул. Академика Челомея д. 3/2<br/><br/>
                +7 (495) 755 30 15 (Многоканальный),<br/>
                +7 (977) 796 15 00
            </div>
        </div>
    </div>
</section>