<section class="section">
    <div class="photo-warehouses">
        <div class="container">
            <div class="photo-warehouses__wrapper">
                <div class="photo-warehouses__tabs">
                    <a data-href="academicChelomey" class="photo-warehouses__tabs-link first active" onclick="" id="">ул. Академика Челомея д. 3 /2</a>
                    <a data-href="ulicaButlerova" class="photo-warehouses__tabs-link" onclick="" id="">ул. Бутлерова д. 17</a>
                    <a class="photo-warehouses__tabs-link" onclick="" id="">Мичуринский пр-т дом 23</a>
                    <a class="photo-warehouses__tabs-link" onclick="" id="">Очаковское шоссе вл. 2</a>
                    <a class="photo-warehouses__tabs-link" onclick="" id="">Склад в пос. Мосрентген</a>
                    <a class="photo-warehouses__tabs-link last" onclick="" id="">Склад в Румянцево</a>
                </div>
                <div class="photo-warehouses__tabs-content" id="academicChelomey">
                    <div class="photo-warehouses__tabs-content-slider">

                    </div>
                    <div class="photo-warehouses__tabs-content-link">
                        <a href="">Смотреть на карте</a>
                    </div>
                </div>
                {#<div class="photo-warehouses__tabs-content" id="ulicaButlerova">#}
                    {#<div class="photo-warehouses__tabs-content-slider">#}

                    {#</div>#}
                    {#<div class="photo-warehouses__tabs-content-link">#}
                        {#<a href="">Смотреть на карте</a>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="photo-warehouses__tabs-content" id="michurinskiyProspect">#}
                    {#<div class="photo-warehouses__tabs-content-slider">#}

                    {#</div>#}
                    {#<div class="photo-warehouses__tabs-content-link">#}
                        {#<a href="">Смотреть на карте</a>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="photo-warehouses__tabs-content" id="ochakovskoeShosse">#}
                    {#<div class="photo-warehouses__tabs-content-slider">#}

                    {#</div>#}
                    {#<div class="photo-warehouses__tabs-content-link">#}
                        {#<a href="">Смотреть на карте</a>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="photo-warehouses__tabs-content" id="skladMosrentgen">#}
                    {#<div class="photo-warehouses__tabs-content-slider">#}

                    {#</div>#}
                    {#<div class="photo-warehouses__tabs-content-link">#}
                        {#<a href="">Смотреть на карте</a>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="photo-warehouses__tabs-content" id="skladRumyancevo">#}
                    {#<div class="photo-warehouses__tabs-content-slider">#}

                    {#</div>#}
                    {#<div class="photo-warehouses__tabs-content-link">#}
                        {#<a href="">Смотреть на карте</a>#}
                    {#</div>#}
                {#</div>#}
            </div>
        </div>
    </div>
</section>