<section class="section" id="address">
    <div class="photo-warehouses">
        <div class="container">
            <h2 style="text-align: center">Фото наших складов</h2>
            <div class="photo-warehouses__wrapper">
                <div class="photo-warehouses__tabs-section photo-warehouses__tabs-section--desktop">
                    <div class="photo-warehouses__tabs">
                        <button class="photo-warehouses__tabs-link first active" data-tab="academicChelomey">ул. Академика Челомея д. 3/2</button>
                        <button class="photo-warehouses__tabs-link" data-tab="ulicaButlerova">ул. Бутлерова д. 17</button>
                        <button class="photo-warehouses__tabs-link" data-tab="michurinskiyProspect">Мичуринский пр-т дом 23</button>
                        <button class="photo-warehouses__tabs-link" data-tab="ochakovskoeShosse">Очаковское шоссе вл. 2</button>
                        <button class="photo-warehouses__tabs-link" data-tab="skladMosrentgen">Склад в пос. Мосрентген</button>
                        <button class="photo-warehouses__tabs-link last" data-tab="skladRumyancevo">Склад в Румянцево</button>
                    </div>
                    <div class="photo-warehouses__tabs-content-wrapper">
                        <div class="photo-warehouses__tabs-content" id="academicChelomey">
                            <div class="photo-warehouses__tabs-content-slider-wrapper">
                                <div class="photo-warehouses__tabs-content-slider owl-carousel">
                                    <div class="photo-warehouses__slider-item" style="background-image: url('./images/slider-builds/Industrial-Construction.jpg')"></div>
                                    <div class="photo-warehouses__slider-item" style="background-image: url('./images/slider-builds/Industrial-Construction.jpg')"></div>
                                    <div class="photo-warehouses__slider-item" style="background-image: url('./images/slider-builds/Industrial-Construction.jpg')"></div>
                                </div>
                            </div>
                            <div class="photo-warehouses__tabs-content-link">
                                <a href="https://yandex.ua/maps/-/CBQU7CDzXB" target="_blank">Смотреть на карте</a>
                            </div>
                        </div>
                        <div class="photo-warehouses__tabs-content" id="ulicaButlerova">
                            <div class="photo-warehouses__tabs-content-slider-wrapper">
                                <div class="photo-warehouses__tabs-content-slider owl-carousel">
                                    <div class="photo-warehouses__slider-item" style="background-image: url('./images/slider-builds/Industrial-Construction.jpg')"></div>
                                    <div class="photo-warehouses__slider-item" style="background-image: url('./images/slider-builds/Industrial-Construction.jpg')"></div>
                                    <div class="photo-warehouses__slider-item" style="background-image: url('./images/slider-builds/Industrial-Construction.jpg')"></div>
                                </div>
                            </div>
                            <div class="photo-warehouses__tabs-content-link">
                                <a href="https://yandex.ua/maps/-/CBQU7Gg3PB" target="_blank">Смотреть на карте</a>
                            </div>
                        </div>
                        <div class="photo-warehouses__tabs-content" id="michurinskiyProspect">
                            <div class="photo-warehouses__tabs-content-slider-wrapper">
                                <div class="photo-warehouses__tabs-content-slider owl-carousel">
                                    <div class="photo-warehouses__slider-item" style="background-image: url('./images/slider-builds/Industrial-Construction.jpg')"></div>
                                    <div class="photo-warehouses__slider-item" style="background-image: url('./images/slider-builds/Industrial-Construction.jpg')"></div>
                                    <div class="photo-warehouses__slider-item" style="background-image: url('./images/slider-builds/Industrial-Construction.jpg')"></div>
                                </div>
                            </div>
                            <div class="photo-warehouses__tabs-content-link">
                                <a href="https://yandex.ua/maps/-/CBQU7KAWwD" target="_blank">Смотреть на карте</a>
                            </div>
                        </div>
                        <div class="photo-warehouses__tabs-content" id="ochakovskoeShosse">
                            <div class="photo-warehouses__tabs-content-slider-wrapper">
                                <div class="photo-warehouses__tabs-content-slider owl-carousel">
                                    <div class="photo-warehouses__slider-item" style="background-image: url('./images/slider-builds/Industrial-Construction.jpg')"></div>
                                    <div class="photo-warehouses__slider-item" style="background-image: url('./images/slider-builds/Industrial-Construction.jpg')"></div>
                                    <div class="photo-warehouses__slider-item" style="background-image: url('./images/slider-builds/Industrial-Construction.jpg')"></div>
                                </div>
                            </div>
                            <div class="photo-warehouses__tabs-content-link">
                                <a href="https://yandex.ua/maps/-/CBQU7KfpOD" target="_blank">Смотреть на карте</a>
                            </div>
                        </div>
                        <div class="photo-warehouses__tabs-content" id="skladMosrentgen">
                            <div class="photo-warehouses__tabs-content-slider-wrapper">
                                <div class="photo-warehouses__tabs-content-slider owl-carousel">
                                    <div class="photo-warehouses__slider-item" style="background-image: url('./images/slider-builds/Industrial-Construction.jpg')"></div>
                                    <div class="photo-warehouses__slider-item" style="background-image: url('./images/slider-builds/Industrial-Construction.jpg')"></div>
                                    <div class="photo-warehouses__slider-item" style="background-image: url('./images/slider-builds/Industrial-Construction.jpg')"></div>
                                </div>
                            </div>
                            <div class="photo-warehouses__tabs-content-link">
                                <a href="https://yandex.ua/maps/-/CBQU7Khq3C" target="_blank">Смотреть на карте</a>
                            </div>
                        </div>
                        <div class="photo-warehouses__tabs-content" id="skladRumyancevo">
                            <div class="photo-warehouses__tabs-content-slider-wrapper">
                                <div class="photo-warehouses__tabs-content-slider owl-carousel">
                                    <div class="photo-warehouses__slider-item" style="background-image: url('./images/slider-builds/Industrial-Construction.jpg')"></div>
                                    <div class="photo-warehouses__slider-item" style="background-image: url('./images/slider-builds/Industrial-Construction.jpg')"></div>
                                    <div class="photo-warehouses__slider-item" style="background-image: url('./images/slider-builds/Industrial-Construction.jpg')"></div>
                                </div>
                            </div>
                            <div class="photo-warehouses__tabs-content-link">
                                <a href="https://yandex.ua/maps/-/CBQU7OBWxC" target="_blank">Смотреть на карте</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="photo-warehouses__tabs-section photo-warehouses__tabs-section--mobile">
            <div class="container">
                <select name="" id="" class="photo-warehouses__tabs-select custom-select">
                    <option value="academicChelomeyMobile" selected="selected">ул. Академика Челомея д. 3/2</option>
                    <option value="ulicaButlerovaMobile">ул. Бутлерова д. 17</option>
                    <option value="michurinskiyProspectMobile">Мичуринский пр-т дом 23</option>
                    <option value="ochakovskoeShosseMobile">Очаковское шоссе вл. 2</option>
                    <option value="skladMosrentgenMobile">Склад в пос. Мосрентген</option>
                    <option value="skladRumyancevoMobile">Склад в Румянцево</option>
                </select>
            </div>
            <div class="photo-warehouses__mobile-tabs-wrapper">
                <div class="photo-warehouses__mobile-tab-content" id="academicChelomeyMobile">
                    <div class="photo-warehouses__mobile-slider owl-carousel">
                        <img src="./images/slider-builds/Industrial-Construction.jpg" alt="">
                        <img src="./images/slider-builds/Industrial-Construction.jpg" alt="">
                        <img src="./images/slider-builds/Industrial-Construction.jpg" alt="">
                    </div>
                </div>
                <div class="photo-warehouses__mobile-tab-content" id="ulicaButlerovaMobile">
                    <div class="photo-warehouses__mobile-slider owl-carousel">
                        <img src="./images/slider-builds/Industrial-Construction.jpg" alt="">
                        <img src="./images/slider-builds/Industrial-Construction.jpg" alt="">
                        <img src="./images/slider-builds/Industrial-Construction.jpg" alt="">
                    </div>
                </div>
                <div class="photo-warehouses__mobile-tab-content" id="michurinskiyProspectMobile">
                    <div class="photo-warehouses__mobile-slider owl-carousel">
                        <img src="./images/slider-builds/Industrial-Construction.jpg" alt="">
                        <img src="./images/slider-builds/Industrial-Construction.jpg" alt="">
                        <img src="./images/slider-builds/Industrial-Construction.jpg" alt="">
                    </div>
                </div>
                <div class="photo-warehouses__mobile-tab-content" id="ochakovskoeShosseMobile">
                    <div class="photo-warehouses__mobile-slider owl-carousel">
                        <img src="./images/slider-builds/Industrial-Construction.jpg" alt="">
                        <img src="./images/slider-builds/Industrial-Construction.jpg" alt="">
                        <img src="./images/slider-builds/Industrial-Construction.jpg" alt="">
                    </div>
                </div>
                <div class="photo-warehouses__mobile-tab-content" id="skladMosrentgenMobile">
                    <div class="photo-warehouses__mobile-slider owl-carousel">
                        <img src="./images/slider-builds/Industrial-Construction.jpg" alt="">
                        <img src="./images/slider-builds/Industrial-Construction.jpg" alt="">
                        <img src="./images/slider-builds/Industrial-Construction.jpg" alt="">
                    </div>
                </div>
                <div class="photo-warehouses__mobile-tab-content" id="skladRumyancevoMobile">
                    <div class="photo-warehouses__mobile-slider owl-carousel">
                        <img src="./images/slider-builds/Industrial-Construction.jpg" alt="">
                        <img src="./images/slider-builds/Industrial-Construction.jpg" alt="">
                        <img src="./images/slider-builds/Industrial-Construction.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>