<section class="section">
    <div class="what-in-box">
        <div class="container">
            <div class="row">
                <h2 style="text-align: center">Что хранят в боксах?</h2>
                <div class="what-in-box__content what-in-box__content--desktop">
                    <img src="./images/what-in-box.png" style="max-width: 100%" alt="">
                </div>
                <div class="what-in-box__content what-in-box__content--mobile">

                </div>
            </div>
        </div>
    </div>
</section>