<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__left">
                <div class="footer__address">
                    г. Москва, ул. Усачева 11, метро "Спортивная"
                </div>
                <div class="footer__email">
                    <a href="mailto:">info@cheapsklad.ru</a>
                </div>
            </div>
            <div class="footer__right">
                <div class="footer__phone">
                    <a href="tel:+74957553015">+7 (495) 755 30 15</a>
                </div>
            </div>
        </div>
    </div>
</footer>