.calculator
  .irs-line-left, .irs-line-mid, .irs-line-right
    background: #d9d9d9
  .irs-line-right
    border-top-right-radius: 8px
    border-bottom-right-radius: 8px
  .irs-line-left
    border-top-left-radius: 8px
    border-bottom-left-radius: 8px
  .irs-bar, .irs-bar-edge, .irs-single
    background: #8fdbf6
  .irs-bar-edge
    border-top-left-radius: 8px
    border-bottom-left-radius: 8px
  .irs-slider.single
    background: rgb(71, 184, 224)
    border-radius: 50%
  &__range-group
    margin-top: 45px
  &__output
    font-family: $ubuntu-bold
    font-size: 36px
    margin-top: 50px
  &__image-container
    //display: flex
    position: relative
  &__square-descr
    width: 130px
    height: 75px
    background: url("../images/container-square-bg.png") no-repeat
    background-size: contain
    position: absolute
    right: -10px
    top: 15px
    text-align: center
    line-height: 70px
    span
      color: #ffffff
      font-family: $pt-sans-regular
      font-size: 30px
  &__button-more
    margin-top: 70px