.call-to-action
  padding: 70px 0
  &__content
    text-align: center
  &__button
    margin-top: 60px
    display: inline-block
  &__phone
    display: inline-block
    color: #2c3e50
    text-decoration: none
    font-size: 36px
    width: 100%
    margin-top: 60px
    &:hover
      text-decoration: underline