.main-section
  height: 700px
  background: url('../images/main-bg-build.png') no-repeat
  background-position: top right
  padding-top: 250px
  &__description
    margin-top: 45px
  &__button
    margin-top: 45px