.save-your-stuff
  padding: 70px 0 0
  &__item
    text-align: center
    margin-bottom: 70px
    display: flex
    flex-direction: column
    align-content: stretch
    &:hover .save-your-stuff__item-icon
      animation: shake 0.92s cubic-bezier(.36,.27,.69,.97) both
      +media-750
        animation: none
    +media-750
      flex-direction: row
      justify-content: flex-start
      align-items: center
      text-align: left
    +media-480
      text-align: center
      margin-bottom: 70px
      display: flex
      flex-direction: column
      align-content: stretch
  &__description
    margin-top: 20px
    font-size: 18px
    +media-750
      margin-top: 0
      font-size: 24px
    +media-480
      margin-top: 20px
  &__item-icon
    height: 80px
    +media-750
      width: 40%
      height: 100px
  &__item-title
    font-family: $pt-sans-bold
  &__item-text
    margin-top: 20px


@keyframes shake
  10%, 90%
    transform: translate3d(-1px, 0, 0)

  20%, 80%
    transform: translate3d(2px, 0, 0)

  30%, 50%, 70%
    transform: translate3d(-4px, 0, 0)

  40%, 60%
    transform: translate3d(4px, 0, 0)