.save-your-stuff
  padding: 70px 0
  &__item
    text-align: center
  &__item-icon
    height: 80px
  &__item-title
    font-family: $pt-sans-bold
    margin-top: 20px
  &__item-text
    margin-top: 20px