.save-your-stuff
  padding: 70px 0 0
  &__item
    text-align: center
    margin-bottom: 70px
  &__item-icon
    height: 80px
  &__item-title
    font-family: $pt-sans-bold
    margin-top: 20px
  &__item-text
    margin-top: 20px