.why-we-are
  padding: 150px 0 0
  +media-750
    padding: 70px 0 0
  &__item
    text-align: center
    margin-bottom: 60px
    +media-750
      min-height: 242px
      margin-bottom: 0
  &__item-icon
    height: 80px
  &__item-title
    margin-top: 30px
  &__svgImage
    fill: #4993de