{% extends "layouts/layout.njk" %}

{% block content %}
    <div class="lines-bg">
        <img src="./images/lines.png" alt="">
    </div>
    {% include "pages/sections/main-section.njk" %}
    {% include "pages/sections/save-your-stuff.njk" %}
    {% include "pages/sections/what-in-box.njk" %}
    {% include "pages/sections/why-we-are.njk" %}
    {% include "pages/sections/another-services.njk" %}
    {% include "pages/sections/calculator-section.njk" %}
{% endblock %}